:root {
  --primary-color: #07237e;
  --primary-color-hover: #0a32b8;
}

body {
  margin: 0;
  background: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 16em;
  height: 100vh;
  background-color: lightgray;
}

nav a {
  text-decoration: none;
}

nav li a {
  display: block;
  color: white;
  background-color: var(--primary-color);
  width: 11em;
  text-align: center;
  padding: 0.7em 0.2em;
  border-radius: 0.7em;
}

nav ul {
  padding: 1em 0;
  margin: 0;
  height: calc(100vh - 5rem);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 30rem;
}

nav .logo {
  font-size: 175%;
  color: var(--primary-color);
  background-color: inherit;
  padding: 0.35em 0;
  border: 0.15rem solid var(--primary-color);
  border-radius: 0.3em;
  width: 10.5rem;
  text-align: center;
}

nav li a:hover {
  background-color: var(--primary-color-hover);
}

nav .logo:hover {
  background-color: white;
}

main {
  margin-left: 16em;
  height: 100vh;
}

main div {
  /*height: inherit;*/
  box-sizing: border-box;
}

main h1 {
  margin: 0 auto 1.34rem;
}

.home {
  padding: 0.625em;
}

/* posts */
.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22em;
  max-width: calc(100vw - 1.5rem);
  height: 12em;
}

.card .head {
  padding: 0.4em;
  display: flex;
  justify-content: space-between;
  height: 1.8em;
  color: white;
  background-color: var(--primary-color);
  border-radius: 0.4em 0.4em 0 0;
}

.card .body {
  flex: 1 1 0;
  padding: 0.3em;
}

.card .footer {
  padding: 0.4em;
  display: flex;
  justify-content: space-between;
  height: 1.8em;
  background-color: rgb(107, 107, 107);
  color: skyblue;
  border-radius: 0 0 0.4em 0.4em;
}

.card:hover .head {
  background-color: var(--primary-color-hover);
}

.card:hover .footer {
  color: white;
}

/* postcard body */
.card .body {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.card .body .title {
  flex: 1 0 0;
  max-height: 4.7em;
  display: flex;
}

.card .body .title h2 {
  margin: auto;
  max-width: 100%;
  max-height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .body .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
}

button:hover {
  background-color: var(--primary-color-hover);
}

.buttons button {
  font-size: inherit;
  width: 4.7em;
}

@media (max-height: 25em) {
  nav {
    width: 100%;
    height: 5em;
  }

  nav ul {
    margin: 0 2.5em;
    flex-direction: row;
    gap: 1em;
    height: 5em;
    width: calc(100% - 4.5em);
    padding: 0;
  }

  nav li {
    flex: 0 1 8.75rem;
  }

  nav li a {
    width: 100% !important;
    padding: 0.6em 0;
  }

  nav .logo {
    width: 10.5rem !important;
  }

  main {
    margin-left: 0;
    margin-top: 5em;
    height: calc(100vh - 5em) !important;
  }
}

@media (max-width: 37.5em) {
  nav {
    width: 100%;
    height: 5em;
  }

  nav ul {
    margin: 0 1em;
    flex-direction: row;
    gap: 1em;
    height: 5em;
    width: calc(100% - 2em);
    padding: 0;
  }

  nav li {
    flex: 0 1 8.75rem;
  }

  nav li a {
    width: 100% !important;
    padding: 0.6em 0.2em;
  }

  li:nth-child(1),
  li:nth-child(2) {
    display: none !important;
  }

  main {
    margin-left: 0;
    margin-top: 5em;
    height: calc(100vh - 5em) !important;
  }
}

@media (max-width: 25em) {
  nav,
  .card {
    font-size: clamp(16px, 5vw, 1rem);
  }
  .card h2 {
    font-size: clamp(16px, 6vw, 2rem);
  }
  .card .footer .right {
    display: none;
  }
}
